doctype html
html(lang="en")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type='text/javascript', src='https://www.google.com/jsapi')
    script(type='text/javascript', src='script.js')
    link(rel='stylesheet', type='text/css', href='theme.css')
    main
      h2 &#xD329;&#xD2B8;&#xCCB4;&#xD06C; &#xD1B5;&#xACC4;
      h5
        a(href='http://news.naver.com/main/election/president2017/factcheck/index.nhn', target='_blank') &#xB124;&#xC774;&#xBC84;-SNU
      #bar-chart
